body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('fondo.gif') no-repeat center center fixed;
    background-size: cover;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}

@keyframes moverFondo {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    max-width: 90%;
}

/* TITULO */
.titulo {
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

/* IMAGEN */
.imagen-superior {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* BOTONES */
.botones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 300px;
}

.botones button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    background-color: #01282e;
    color: #92b4bd;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.botones button:hover {
    background-color: #30747c;
    transform: scale(1.05);
}

a {
    text-decoration: none;
}

/* ---------------------------
   MEDIA QUERIES (RESPONSIVE)
----------------------------*/

/* Tablets */
@media (min-width: 600px) {
    .titulo {
        font-size: 80px;
    }

    .botones button {
        font-size: 20px;
        padding: 14px;
    }
}

/* Ordenadores */
@media (min-width: 1024px) {
    .container {
        max-width: 700px;
    }

    .titulo {
        font-size: 100px;
    }

    .botones {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .botones button {
        width: 180px;
    }
}