<!DOCTYPE html>
<html lang="es">

<head> <!-- configuracion y recursos del documento-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link rel="stylesheet" href="styles/configuracion.css">
    <link rel="icon" type="image/jpg" href="styles/logo.jpg">
</head>

<body>
    <!-- relleno del formulario para empezar la partida-->
    <div class="container">
        <h1 class="titulo">CONFIGURACIÓN</h1>

        <label for="nombre">Nickname:</label>
        <input type="text" id="nombre" name="nickname" placeholder="Escribe tu nickname">

        <label for="nacionalidad">País:</label>
        <input type="text" id="nacionalidad" name="pais" placeholder="Escribe tu país" list="lista-paises">
        <datalist id="lista-paises"></datalist>


        <div class="buttons"><!--boton que inicia partida y nos manda para  el posicionamiento.html -->
            <button id="jugar">Continuar</button>
            <button onclick="window.location.href='menuinicial.html'">Volver</button>
        </div>
    </div>
    <!-- 
        Si el archivo de html no tiene una etiqueta script, no hace nada. porque el script es el que 
        inyecta el código al html.

        // manejador de formulario, que va a tomar los campos y los va a guardar en el local storage.
        local voy a enontrar usuario, pais y ciudad

    -->
    <script src="../controllers/form.js"></script>
</body>

</html>