<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuracion</title>
    <link rel="stylesheet" href="styles/configuracion.css">
    <link rel="icon" type="image/jpg" href="styles/logo.jpg"      />
</head>

<body>
    <div class="container">
        <h1 class="titulo">CONFIGURACION</h1>

        <label for="dificultad">Dificultad:</label>
        <select id="dificultad" name="dificultad">
            <option value="facil">Fácil</option>
            <option value="medio">Medio</option>
            <option value="dificil">Difícil</option>
        </select>

        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" placeholder="Escribe tu nickname">

        <label for="pais">País:</label>
        <select id="pais" name="pais">
            <option value="colombia">Colombia</option>
            <option value="ecuador">Ecuador</option>
            <option value="venezuela">Venezuela</option>
            <option value="argentina">Argentina</option>
            <option value="brasil">Brasil</option>
            <option value="chile">Chile</option>
            <option value="españa">España</option>
            <option value="mexico">México</option>
            <option value="peru">Perú</option>
            <option value="otro">Otro</option>
        </select>

        <div class="buttons">
            <button onclick="window.location.href='Posicionamiento.html'">Continuar</button>
            <button onclick="window.location.href='menuinicial.html'">Volver</button>
        </div>
    </div>
</body>

</html>