<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuración</title>
    <link rel="stylesheet" href="styles/configuracion.css">
    <link rel="icon" type="image/jpg" href="styles/logo.jpg">
    <script type="module" src="../controllers/seleccionpais.js" type="module"></script>
</head>

<body>
    <div class="container">
        <h1 class="titulo">CONFIGURACIÓN</h1>

        <label for="dificultad">Dificultad:</label>
        <select id="tamanio" name="dificultad">
            <option value="facil">Fácil</option>
            <option value="medio">Medio</option>
            <option value="dificil">Difícil</option>
        </select>

        <label for="nombre">Nickname:</label>
        <input type="text" id="nombre" name="nickname" placeholder="Escribe tu nickname">

        <label for="nacionalidad">País:</label>
        <input type="text" id="nacionalidad" name="pais" placeholder="Escribe tu país">

        <div class="buttons">
            <button id="jugar" onclick="window.location.href='Posicionamiento.html'">Continuar</button>
            <button onclick="window.location.href='menuinicial.html'">Volver</button>
        </div>
    </div>
</body>

</html>