<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones</title>
    <link rel="stylesheet" href="styles/instrucciones.css">
    <link rel="icon" type="image/jpg" href="styles/logo.jpg"      />
</head>
<body>
    <h1 class="titulo">INSTRUCCIONES</h1>
    <div class="container">
        <div class="instructions">
            <p>- Batalla Naval es un juego de estrategia donde dos jugadores colocan barcos en un tablero y tratan de hundir los del oponente.</p>
            <p>- Cada jugador tiene un tablero de 10x10 en el que coloca sus barcos en posiciones estratégicas.</p>
            <p>- Los barcos pueden estar orientados en horizontal o vertical en el tablero.</p>
            <p>- Los jugadores se turnan para atacar coordenadas en el tablero enemigo, tratando de acertar en los barcos rivales.</p>
            <p>- Al atacar una coordenada, el jugador verifica si hay un barco en esa posición. Si lo hay, el barco se hunde y el jugador gana puntos. Si no, el barco sigue vivo y el jugador pierde puntos.</p>
            <p>- El objetivo es hundir todos los barcos del oponente antes de que él hunda los tuyos.</p>
        </div>
        <button onclick="window.location.href='menuinicial.html'">Volver al inicio</button>
    </div>
</body>
</html>