<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" /> <!-- permite usar acentos y caracteres especiales-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!-- hace que se vea bien el en celulares o pantallas pequeñas -->
    <title>Inicio</title> <!-- lo que pertenece en la pestaña del navegador -->
    <link rel="stylesheet" href="styles/menuinicial.css" /> <!-- importa el css para definir el estilo visual--> 
    <link rel="icon" type="image/jpg" href="styles/logo.jpg" /> <!--icono pequeño que aprece en la pestaña del navegador --> 
</head>

<body>
    <div class="container"> <!--decide el formato alienacion mergen etc -->
        <h1 class="titulo">BATALLA NAVAL</h1>
        <img src="styles/barco.jpg" alt="Imagen superior" class="imagen-superior" /> 
        <div class="botones"> <!--botones para navegar a las otras partes -->
            <a href="configuracion.html"><button>Jugar</button></a>
            <a href="instrucciones.html"><button>Instrucciones</button></a>
            <a href="Ranking.html"><button>Ranking</button></a>
        </div>
    </div>
</body>

</html>