<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="styles/menuinicial.css" />
    <link rel="icon" type="image/jpg" href="styles/logo.jpg" />
</head>

<body>
    <div class="container">
        <h1 class="titulo">BATALLA NAVAL</h1>
        <img src="styles/barco.jpg" alt="Imagen superior" class="imagen-superior" />
        <div class="botones">
            <a href="configuracion.html"><button>Jugar</button></a>
            <a href="instrucciones.html"><button>Instrucciones</button></a>
            <a href="Ranking.html"><button>Ranking</button></a>
        </div>
    </div>
</body>

</html>