<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero de Posicionamiento</title>
    <link rel="stylesheet" href="styles/Posicionamiento.css">
</head>

<body>
    <h1>TABLERO DE POSICIONAMIENTO</h1>

    <div class="configuracion">
        <label for="dimension">Selecciona el tamaño del tablero:</label>
        <select id="dimension">
            <option value="10">10x10</option>
            <option value="11">11x11</option>
            <option value="12">12x12</option>
            <option value="13">13x13</option>
            <option value="14">14x14</option>
            <option value="15">15x15</option>
            <option value="16">16x16</option>
            <option value="17">17x17</option>
            <option value="18">18x18</option>
            <option value="19">19x19</option>
            <option value="20">20x20</option>
        </select>
        <button id="generateBoard">Generar Tablero</button>
    </div>

    <div class="container">
        <div class="ships">
            <h2>Barcos</h2>
            <div id="shipsContainer"></div>
        </div>

        <div id="board" class="board"></div>

        <div class="controls">
            <button id="rotate">Rotar</button>
        </div>
    </div>

    <div class="buttons">
        <button id="previous" onclick="window.location.href='configuracion.html'">Anterior</button>
        <button id="startBattle" onclick="window.location.href='Partida.html'">Iniciar Batalla</button>
    </div>

    <script src="../controllers/Posicionamiento.js"></script>
</body>

</html>