<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="styles/Ranking.css">
    <script src="../controllers/Ranking.js" type="module"></script>
</head>

<body>
    <div class="container">
        <h1>Ranking</h1>
        <table>
            <thead>
                <tr>
                    <th>Posición</th>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                    <th>País</th>
                    <th>Fecha/Hora</th>                
                </tr>
            </thead>
            <tbody id="ranking-table">
                <!-- Datos dinámicos -->
            </tbody>
        </table>
        <button class="back-button" onclick="window.location.href='menuinicial.html'">Volver al inicio</button>
    </div>

    
</body>

</html>